*{
	margin:0;
	padding: 0;
}

body{
	font-size: 120%;
}

@define-mixin atSmall{
	@media (min-width: 530px){
		@mixin-content;
	}
}

ul{
	list-style: none;
}
li{
	display: block;
}

@define-mixin atMedium{
	@media screen and (min-width: 800px){
		@mixin-content;
	};
}
