form{
	font-family: 'Roboto', sans-serif;

	& input{
		margin-top: 3px;
	}
	& input[type="text"]{
		display: block;
		width:90%;
		border-radius: 5px;
		border: none;
	}
	.form-set{
		margin: 17px 0;
	}
	.form-control{
		padding: 8px;
	}

	.btn{
		width: 100px;
		padding: 10px;
		border-radius: 5px;
		border:none;
		color: #ffffff;
		background-color: var(--color-pallete);
		cursor: pointer;
		
		&:hover{
			background-color: color(var(--color-pallete) blackness(90%));
		};
	}
	
}