.list {
  width: 90%;
  margin: 0px auto;

  &__items {
    position: relative;
    top: 4.3em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__item{
      flex: 0 0 calc(50% - .4em);
      transform: scale(.9);
      figure{
        & img{
          width: 100%;
          border-radius: 5px;
          filter: grayscale(70%);
        }
      }

      &:hover{
        transform: scale(1);
        & img{
          filter: none;
        }
      }
    }
  }
}