.menu{
  position: fixed;
  width: 100%;
  z-index:2;

  &__mobile{
    background: var(--color-pallete);
    @media (--medium-viewport){
      display: none;
    }
    &__icon {
      cursor:pointer;
      color: #fff;
      & img{
        padding: 10px;
      }
    }

    &__list{
      display:none;
      & ul{
        //display: flex;
        //flex-flow: column wrap;
        font-family: var(--main-font);
        font-weight: var(--font-weight-light);
        background: color(var(--main-brown) alpha(75%));
        & li{

          padding: 10px 12px;
          border-bottom: 1px solid #ffffff;

          & a{
            cursor:pointer;
            color: var(--color-pallete);
            letter-spacing: 2px;
          }
        }
      }
      &.open__menu{
        display:block;
      }
    }
  }

  &__sidebar{
    display: none;
    background-color: var(--color-pallete);
    height: 100%;
    width: 25%;
    position: fixed;
    right: 0;
    @media (--medium-viewport){
      display: block;
      width: 30%;
      //padding-right: 20px;
    }
    &__navigation{
      padding: 0 10px;
      width: 70%;
      margin: 0 auto;
      position: absolute;
      top:20%;
      left: 20%;
      transform: translateY(-5%);

      & .menu__logo img{
        width: 100px;
        height: 100px;
        margin-bottom: 10px;

      }
    }
  }
}
