.nav{
	.nav__group{
		/*display: flex;
		flex-direction: column;*/
		list-style-type: none;
		position: absolute;
		/*top:50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);*/
		margin: 0;
		padding: 0;
		font-family: 'Pacifico', cursive;
		
		& li{
			padding: 5px 0;
			transform: scale(1);
			border-bottom: 1px dashed #fff;
			transition: transform .5s;

			&:hover{
				border-bottom: 1px solid #fff;	
				transform: scale(1.2);			

			};
			& a {
				color: #fff;
				font-size: 1.5em;
				cursor: pointer;
				font-weight: lighter;
				text-decoration: none;
				&:hover{
					color: var(--main-brown);
				}
			}
		}
		
	}
}