.title{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translateX(-50%) translateY(-55%);
	width: 90%;
	//background-color: var(--testing-color);

	&__intro{
		text-align: center;
		&__main{
			font-family: var(--main-cursive);
			font-size: 1em;
			color:var(--main-brown);
			text-shadow:
					 1px 5px 0 #85311B,
					 -1px -1px 0 #85311B,
					 1px -1px 0 #85311B,
					 -1px 1px 0 #85311B,
					 1px 1px 0 #85311B;
		}

		&__caption{
			margin-top: 1em;
			font-family:var(--second-cursive);
			font-size: 2em;
			font-weight: 300;
		}
		&__subtitle{
			font-family:var(--second-cursive);
			font-size: 1.5rem;
		}

	}
	
}