
@import 'base/_base.css';
@import 'base/_variables.css';
@import 'base/_media.css';
@import 'base/_grid.css';
@import 'modules/_page-section.css';
@import 'modules/_title.css';
@import 'modules/_btn.css';
@import 'modules/_menu.css';
@import 'modules/_list-menu.css';
@import 'modules/_experience.css';
@import 'modules/_navigation.css';
@import 'modules/_form.css';
@import 'modules/_reservation.css';


/*@import 'modules/_form.css';

@import 'modules/_menu.css';

@import 'modules/_navigation.css';
@import 'modules/_list-menu.css';
@import 'modules/_experience.css';
@import 'modules/_reservation.css';
@import 'modules/_location.css';*/

.app__background{
	height: 100vh;
	&:before{
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		z-index: -2;
		opacity: 0.6;
		background:linear-gradient(to top, rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 100%),url(../img/background.jpg) no-repeat;
		background-size: cover;

	};
}
/*linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%),*/


